body{
  font-family: 'Fredoka One', cursive;

}
nav a:hover{
  color:hsl(269, 45%, 65%)!important;
}
nav a{
  color:white !important;
}
.perso_bgBlue{
  background-color: rgb(40,54,69);
}
.perso_linear_Bgblue{
  background: linear-gradient(129deg, rgba(2,0,36,1) 1%, rgba(72,67,165,0.9953023445706407) 32%, rgba(0,212,255,1) 100%);
}
.perso_colorBlueLight{
  color: #1490d7 !important;
}

html{
  scroll-behavior: smooth important!;
}